body{
  background-color: #22224a;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
#today{
  background-color: #35355e;
  width: 100%;
  color: white;
  text-align: center;
  padding: 1rem;
}
#today .date{
  font-size: 2.5rem;
  font-weight: 700;
}
#today .time{
  font-size: 1.5rem
}
#grid{
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding-top: 1rem;
}
#grid .tile{
  padding: 15px;
  box-shadow: 0px 0px 80px 0px rgba(0,0,0,0.75);
  background-color: #1d49ad;
  color: #c3c3c3;
  display: block;
  min-height: 100px;
}
#grid .tile .owf{
  font-size: 4em;
  display: block;
}
#grid .content.center {
  text-align: center;
}
#grid .tileContainer{
  box-sizing: border-box;
  padding: 1rem;
  width: 25%;
}
#grid .tileContainer.big{
  width: 50%;
}
#map {
  position: relative;
  top:0;
  bottom:0;
  width:100%;
  height: 200px;
}
