<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <title>Dashboard</title>
  <!-- development version, includes helpful console warnings -->
  <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
  <script src="https://unpkg.com/moment@2.22.0/moment.js"></script>
  <script src="https://unpkg.com/moment@2.22.0/locale/de.js"></script>

  <!-- Axios - REST Api Requesting -->
  <script src="https://unpkg.com/axios@0.18.0/dist/axios.js"></script>

  <script src="apiKeys.json"></script>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet'>

  <link href="css/main.css" rel="stylesheet">
  <link href="css/owfont-regular.css" rel="stylesheet">
</head>
<body>
  <div id="app">
    <div id="today">
      <div class="date">{{currentDate}}</div>
      <span class="time">{{currentTime}}</span>
    </div>
    <div id="grid">
      <div v-for="tile in tiles" class="tileContainer" v-bind:class="{ big: tile.isBig }">
        <div class="tile"><h2 v-if="tile.heading">{{ tile.heading }}</h2>
          <span class="content" v-bind:class="{ 'center' : tile.isCenter }">
            <i v-if="tile.icon" v-bind:class="tile.icon"></i>
            <div v-if="tile.mapHtml" v-html="tile.mapHtml"></div>
            <p v-if="tile.content">{{ tile.content }}</p>
          </span>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
var app = new Vue({
  el: '#app',
  data: {
    currentDate: null,
    currentTime: null,
    tiles:[
      {heading: 'Public Transport', content:''},
      {heading: 'Twitter', content:''},
      {heading: 'Weather', content:'', icon:'', isCenter:true},
      {heading: 'Calendar', content:''},
      {heading: 'Pollen', content:''},
      {heading: 'Air Pollution', content:''},
      {content:'', mapHtml:"<div id='map'></div>", isBig: true}
    ]
  },
  methods: {
    updateCurrentDateAndTime(){
      this.currentDate = moment().format('Do MMMM YYYY');
      this.currentTime = moment().format('LTS');
    }
  },
  created() {
    moment.locale('de');
    this.currentDate = moment().format('Do MMMM YYYY');
    this.currentTime = moment().format('LTS');
    setInterval(() => this.updateCurrentDateAndTime(), 1*1000)
    axios.get('https://api.openweathermap.org/data/2.5/weather?id=2935020&appid='+ apiKeys.openWeatherMapApiKey +'&units=metric')
    .then(function (response) {
      console.log("Weather data: " + response.data.main.temp);
      var weatherObj = app.tiles[2];
      weatherObj.content = response.data.main.temp + '°C ' + response.data.weather[0].description;
      weatherObj.icon = 'owf owf-' + response.data.weather[0].id;
      app.$set(app.tiles, 2, weatherObj);
    })
    .catch(function (error) {
      console.log(error);
    });

  }
})
</script>
<script>
mapboxgl.accessToken = apiKeys.mapboxglAccessToken;
var map = new mapboxgl.Map({
    container: 'map', // container id
    style: apiKeys.mapboxglStyle, //stylesheet location
    center: [13.739, 51.053], // starting position
    zoom: 11, // starting zoom
    hash: false // Add hash to fragment identifier
});
</script>
</html>
