body{
  background-color: #22224a;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
#today{
  height: 5rem;
  background-color: #35355e;
  width: 100%;
  color: white;
  text-align: center;
  padding: 1rem;
}
#today .date{
  font-size: 2.5rem;
  font-weight: 700;
}
#today .time{
  font-size: 1.5rem
}
#grid{
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
#grid .tile{
  padding: 15px;
  box-shadow: 0px 0px 80px 0px rgba(0,0,0,0.75);
  background-color: #1d49ad;
  color: #c3c3c3;
  display: block;
  height: 100px;
}
#grid .tileContainer{
  box-sizing: border-box;
  padding: 2rem 1rem;
  width: 25%;
}
